@model IEnumerable<FaculdadeSI.Models.Pergunta>

@{
    ViewBag.Title = "Index";
}

<h2>Perfunta</h2>

<p>
    @Html.ActionLink("Criar pergunta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Pergunta")
            @*@Html.DisplayNameFor(model => model.DescricaoPergunta)*@
        </th>
        <th>
            @Html.Label("Status")
            @*@Html.DisplayNameFor(model => model.PerguntaStatus)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoPergunta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerguntaStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPergunta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPergunta }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPergunta })*@
        </td>
    </tr>
}

</table>
