@model FaculdadeSI.Models.TipoResposta

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes de opção de resposta</h2>

<div>
    @*<h4>TipoResposta</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.DescricaoTipoResposta, "Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoTipoResposta)
        </dd>

        <dt>
            @Html.LabelFor(model => model.TipoRespostaStatus, "Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRespostaStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoResposta }) |
    @Html.ActionLink("Voltar", "Index")
</p>
