@model FaculdadeSI.Models.Perfil

@{
    ViewBag.Title = "Create";
}

<h2>Criar Perfil</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Criar Perfil</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DescricaoPerfil, "Descrição do perfil", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescricaoPerfil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescricaoPerfil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PerfilStatus, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">             
                    @Html.EditorFor(model => model.PerfilStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PerfilStatus, "", new { @class = "text-danger" })
             
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <td>
        <button class="btn" style="width:90px">@Html.ActionLink("Voltar", "Index")</button>
    </td>
   
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
