@model FaculdadeSI.Models.Perfil

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do Perfil</h2>

<div>
    @*<h4>Perfil</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            
            @Html.LabelFor(model => model.DescricaoPerfil, "Descrição do perfil")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoPerfil)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PerfilStatus, "Status")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPerfil }) |
    @Html.ActionLink("Voltar", "Index")
</p>
