@model FaculdadeSI.Models.Perfil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Perfil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoPerfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerfilStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerfilStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPerfil }) |
    @Html.ActionLink("Back to List", "Index")
</p>
